.clock {
  background-color: #111111;
  color: green;
  font-family: 'Turret Road', cursive;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  font-size: 18px;
  font-weight: 800;
  width: 200px;
  border-radius: 5px;
}

.tabs {
  width: 40%;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.tabs ul {
  display: flex;
}

.tab {
  border: 1px black solid;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.tabs section {
  border: 1px black solid;
  border-top: 0;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active { 
  font-weight: 700;
}
