/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	// border-color: 
	color: white;
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 3px;
	// transition:
	font-family: $sans-serif;
	// text-transform:
	// font-size:
	// text-align:
}

button:hover {
	background-color: $blue;
	border-color: $dark-blue;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

h1 {
	font-weight: 700;
	font-size: 16px;
}

h2 {
	color: $gray;
	font-size: 16px;
	margin: 5px 0;
}

p {
	margin: 5px 0;
	line-height: 20px;
	font-size: 14px;
}

iframe {
	margin-bottom: 10px;
}

.thumbnail {
	height: 200px;
}

.thumbnail img {
	object-fit: cover;
}